# Normalize line endings to LF
* text=auto eol=lf
*.php text eol=lf
*.html text eol=lf
# Files and folders here will be not included when creating package
/tests export-ignore
/examples export-ignore
/.github export-ignore
/.gitignore export-ignore
/php_cs.php.dist export-ignore
/sonar-project.properties export-ignore
/CHANGELOG.md export-ignore
/release-please-config.json export-ignore
